@(message: String)
<!DOCTYPE html>
<html lang="en">
	<head>
	<title>@message</title>
	<meta charset="utf-8">
	<link rel="icon" href="@routes.Assets.at("kataklimt/img/favicon.ico")" type="image/x-icon">
	<link rel="shortcut icon" href="@routes.Assets.at("kataklimt/img/favicon.ico")" type="image/x-icon" />
	<meta name="description" content="Your description">
	<meta name="keywords" content="Your keywords">
	<meta name="author" content="Your name">
	<link rel="stylesheet" href="@routes.Assets.at("kataklimt/css/bootstrap.css")" type="text/css" media="screen">
	<link rel="stylesheet" href="@routes.Assets.at("kataklimt/css/responsive.css")" type="text/css" media="screen">
	<link rel="stylesheet" href="@routes.Assets.at("kataklimt/css/style.css")" type="text/css" media="screen">
	<link rel="stylesheet" href="@routes.Assets.at("kataklimt/css/touchTouch.css")" type="text/css" media="screen">
	<link rel="stylesheet" href="@routes.Assets.at("kataklimt/css/kwicks-slider.css")" type="text/css" media="screen">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="@routes.Assets.at("kataklimt/js/jquery.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("kataklimt/js/superfish.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("kataklimt/js/jquery.flexslider-min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("kataklimt/js/jquery.kwicks-1.5.1.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("kataklimt/js/jquery.easing.1.3.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("kataklimt/js/touchTouch.jquery.js")"></script>
	<script type="text/javascript">if($(window).width()>1024){document.write("<"+"script src='@routes.Assets.at("kataklimt/js/jquery.preloader.js")'></"+"script>");}	</script>

	<script>
		 jQuery(window).load(function() {
		 $x = $(window).width();
	if($x > 1024)
	{
	jQuery("#content .row").preloader();    }

     jQuery('.magnifier').touchTouch();
    jQuery('.spinner').animate({'opacity':0},1000,'easeOutCubic',function (){jQuery(this).css('display','none')});
  		  });

	</script>

	<!--[if lt IE 8]>
  		<div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/img/upgrade.jpg"border="0"alt=""/></a></div>
 	<![endif]-->
	<!--[if (gt IE 9)|!(IE)]><!-->
	<!--<![endif]-->
	<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="@routes.Assets.at("kataklimt/css/ie.css")" type="text/css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
  <![endif]-->
	</head>

	<body>
    <div class="spinner"></div>
<!--============================== header =================================-->
<header>
      <div class="container clearfix">
    <div class="row">
          <div class="span12">
        <div class="navbar navbar_">
              <div class="container">
            <h1 class="brand brand_"><a href="/"><img alt="" src="@routes.Assets.at("kataklimt/img/logo.gif")"> </a></h1>
            <a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_">Menu <span class="icon-bar"></span> </a>
            <div class="nav-collapse nav-collapse_  collapse">
                  <ul class="nav sf-menu">
                <li><a href="index.html">院長より</a></li>
                <li class="sub-menu "><a href="index-1.html">クリニック紹介</a>
                      <ul>
                    <li><a href="#">医院理念 </a></li>
                    <li><a href="#">基本姿勢</a></li>
                    <li><a href="#">スタッフ</a></li>
                  </ul>
                    </li>
                <li><a href="index-2.html">診療案内</a></li>
                <li><a href="index-3.html">設備</a></li>
                <li><a href="index-4.html">アクセス</a></li>
              </ul>
                </div>
          </div>
            </div>
      </div>
        </div>
  </div>
    </header>
<div class="bg-content">
      <div class="container">
    <div class="row">
          <div class="span12">
        <!--============================== slider =================================-->
        <div class="flexslider">
              <ul class="slides">
            <li> <img src="@routes.Assets.at("kataklimt/img/nishida-gaikan4.jpg")"  width="700" height="10" alt="" > </li>
            <li> <img src="@routes.Assets.at("kataklimt/img/nishida-uketsuke.jpg")"  width="750" alt="" > </li>
            <li> <img src="@routes.Assets.at("kataklimt/img/nishida-shinsatsushitsu1.jpg")" width="750" alt="" > </li>
            <li> <img src="@routes.Assets.at("kataklimt/img/nishida-gaikan3.jpg")" width="710" alt="" > </li>
            <li> <img src="@routes.Assets.at("kataklimt/img/nishida-gorenjaa2.jpg")" width="760" alt="" > </li>
          </ul>
            </div>
        <span id="responsiveFlag"></span>
        <div class="block-slogan">
              <h2>Welcome!</h2>
              <div>
            <p>当院の標榜科目は、一般歯科・小児歯科・口腔外科です。小児から、高齢者まで幅広い患者さんが来院されます。</p>
            <p>一般歯科は無論の事、インプラント治療、智歯抜歯や嚢胞摘出術などの口腔外科手術、小矯正（MTM)など幅広い治療を行っています。</p>
            <p>中でも、齲蝕、歯周病の二大口腔疾患は、バイオフィルム病であることから、歯周病治療、予防歯科に力を入れています。</p>

          </div>
            </div>
      </div>
        </div>
  </div>

      <!--============================== content =================================-->

      <div id="content" class="content-extra"><div class="ic">More Website Templates a TemplateMonster.com. November19, 2012!</div>
    <div class="row-1">
          <div class="container">
        <div class="row">
              <ul class="thumbnails thumbnails-1">
            <li class="span3">
                  <div class="thumbnail thumbnail-1">
                <h3>Fashion</h3>
                <img  src="@routes.Assets.at("kataklimt/img/page1-img1.jpg")" alt="">
                <section> <strong>At vero eos et accusamus et iusto </strong>
                      <p>Odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
                      <a href="#" class="btn btn-1">Read More</a> </section>
              </div>
                </li>
            <li class="span3">
                  <div class="thumbnail thumbnail-1">
                <h3>Nature</h3>
                <img  src="@routes.Assets.at("kataklimt/img/page1-img2.jpg")" alt="">
                <section> <strong>Deleniti atque corrupti quos</strong>
                      <p>Dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                      <a href="#" class="btn btn-1">Read More</a> </section>
              </div>
                </li>
            <li class="span3">
                  <div class="thumbnail thumbnail-1">
                <h3>Love story</h3>
                <img  src="@routes.Assets.at("kataklimt/img/page1-img3.jpg")" alt="">
                <section> <strong>Similique sunt in culpa qui officia </strong>
                      <p>Deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                      <a href="#" class="btn btn-1">Read More</a> </section>
              </div>
                </li>
            <li class="span3">
                  <div class="thumbnail thumbnail-1">
                <h3 class="title-1 extra">Fine art</h3>
                <img  src="@routes.Assets.at("kataklimt/img/page1-img4.jpg")" alt="">
                <section> <strong>Similique sunt in culpa qui officia</strong>
                      <p>Deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                      <a href="#" class="btn btn-1">Read More</a> </section>
              </div>
                </li>
          </ul>
            </div>
      </div>
        </div>
    <div class="container">
          <div class="row">
        <article class="span6">
              <h3>院長：西田尚武</h3>
              <div class="wrapper">
            <figure class="img-indent"><img src="@routes.Assets.at("kataklimt/img/page1-img5.jpg") " alt="" /></figure>
            <div class="inner-1 overflow extra">
                  <div class="txt-1">２０１１年５月１６日に開業しました。<br>
                                     開業後1年と少しの新しい歯科医院です。
                  </div>
                  所在地は、甲賀市水口町伴中山で、旧家と新興住宅地を結ぶ幹線道路沿いに位置し自然溢れる環境に囲まれています。<br>
                  国道1号線から北上し、車で約３分です。
                  <div class="border-horiz"></div>
                  <div class="overflow">
                <ul class="list list-pad">
                      <li><a href="#">Campaigns</a></li>
                      <li><a href="#">Portraits</a></li>
                      <li><a href="#">Fashion</a></li>
                      <li><a href="#">Fine Art</a></li>
                    </ul>
                <ul class="list">
                      <li><a href="#">Advertising</a></li>
                      <li><a href="#">Lifestyle</a></li>
                      <li><a href="#">Love story</a></li>
                      <li><a href="#">Landscapes</a></li>
                    </ul>
              </div>
                </div>
          </div>
            </article>
        <article class="span6">
              <h3>Latest photoshoots</h3>
              <ul class="list-photo">
            <li><a href="img/image-blank.png" class="magnifier" ><img src="@routes.Assets.at("kataklimt/img/page1-img6.jpg") " alt="" /></a></li>
            <li><a href="img/image-blank.png" class="magnifier" ><img src="@routes.Assets.at("kataklimt/img/page1-img7.jpg") " alt="" /></a></li>
            <li><a href="img/image-blank.png" class="magnifier" ><img src="@routes.Assets.at("kataklimt/img/page1-img8.jpg") " alt="" /></a></li>
            <li class="last"><a href="img/image-blank.png" class="magnifier" ><img src="@routes.Assets.at("kataklimt/img/page1-img9.jpg") " alt="" /></a></li>
            <li><a href="img/image-blank.png" class="magnifier" ><img src="@routes.Assets.at("kataklimt/img/page1-img10.jpg") " alt="" /></a></li>
            <li><a href="img/image-blank.png" class="magnifier" ><img src="@routes.Assets.at("kataklimt/img/page1-img11.jpg") " alt="" /></a></li>
            <li><a href="img/image-blank.png" class="magnifier" ><img src="@routes.Assets.at("kataklimt/img/page1-img12.jpg") " alt="" /></a></li>
            <li class="last"><a href="img/image-blank.png" class="magnifier" ><img src="@routes.Assets.at("kataklimt/img/page1-img13.jpg") " alt="" /></a></li>
            <li><a href="img/image-blank.png" class="magnifier" ><img src="@routes.Assets.at("kataklimt/img/page1-img14.jpg") " alt="" /></a></li>
            <li><a href="img/image-blank.png" class="magnifier" ><img src="@routes.Assets.at("kataklimt/img/page1-img15.jpg") " alt="" /></a></li>
            <li><a href="img/image-blank.png" class="magnifier" ><img src="@routes.Assets.at("kataklimt/img/page1-img16.jpg") " alt="" /></a></li>
            <li class="last"><a href="img/image-blank.png" class="magnifier" ><img src="@routes.Assets.at("kataklimt/img/page1-img17.jpg") " alt="" /></a></li>
          </ul>
            </article>
      </div>
        </div>
  </div>
    </div>

<!--============================== footer =================================-->
<footer>
      <div class="container clearfix">
    <ul class="list-social pull-right">
          <li><a class="icon-1" href="#"></a></li>
          <li><a class="icon-2" href="#"></a></li>
          <li><a class="icon-3" href="#"></a></li>
          <li><a class="icon-4" href="#"></a></li>
        </ul>
    <div class="privacy pull-left">Website Template designed by <a href="http://www.templatemonster.com/" target="_blank" rel="nofollow">TemplateMonster.com</a> </div>
  </div>
    </footer>
<script type="text/javascript" src="@routes.Assets.at("kataklimt/js/bootstrap.js")"></script>
</body>
</html>